<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Package details</title>
</head>
<body>
    <p>Package: {{ name }}</p>
    <p>{{ details['description'] }}</p>
    <p>Depends:
        {% if 'depends' in details %}
            <ul>
            {% for dependency in details['depends'] %}
                {% if dependency in packages %}
                    <li><a href="/details/{{ dependency }}">{{ dependency }}</a></li>
                {% else %}
                    <li>{{ dependency }}</li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
    </ul>
    <p>Reverse dependencies:
        {% if 'reverseDependency' in details %}
            <ul>
            {% for dependency in details['reverseDependency'] %}
                <li><a href="/details/{{ dependency }}">{{ dependency }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            -
        {% endif %}
    </p>

</body>
</html>